/* Add a dark background color to the body */
body {
  /* background-color: #333; */
  color: #fff; /* Change font color to white */
}

/* Change the color of the navigation bar */
.navbar {
  background-color: #222;

}
.fixed-navbar {
  position: fixed;
  top: 0;
  justify-content: flex-end;
}

/* Change the color of the navigation links */
.navbar a {
  color: #fff;
}

/* Change the color of the active link */
.navbar .nav-item.active a {
  color: #1abc9c;
}
/* Add a background color and padding to the blockquote */
blockquote {
  background-color: #f7f7f7;
  padding: 20px;
}

/* Change the color of the quote marks */
blockquote::before {
  color: #1abc9c;
}

/* Add a font size and font family to the quote */
blockquote p {
  font-size: 1.2em;
  font-family: Georgia, serif;
}
/* add some padding and a shadow to the container */
.container {
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* set the font size and color for the heading */
h2 {
  font-size: 2.5rem;
  color: #1abc9c;
}

/* set the font size and color for the paragraph */
p {
  font-size: 1.25rem;
  color: #2c3e50;

}

/* add a hover effect to the container */
.container:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

/* Change the color of the "Try!" button */
.btn-primary {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

/* Add a hover effect to the "Try!" button */
.btn-primary:hover {
  background-color: #16a085;
  border-color: #16a085;
}

/* Add a shadow effect to the "main" section */
#main {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Add a border and background color to the "Contact" section */
#contact {
  border: 1px solid #ccc;
  border-radius: 5px;
  /* background-color: #222; */
}

/* Add a rounded border and hover effect to the photos in the "Contact" section */
.card-img-top {
  border-radius: 50%;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card {
  background-color: #2c3e50;
}
.card {
  height: 250px;
  width: 250px;
}

.card img {
  height: 150px;
  width: 150px;
}

/* Change the font color of the card titles and texts */
.card-title,
.card-text {
  color: #fff;
}
/* set the background color of elements with the bg-dark class to dark grey */
.bg-dark {
  background-color: #2c3e50;
}

/* set the color of elements with the text-green class to green */
.text-green {
  color: #1abc9c;
}


/* add some padding and a shadow to the container within the about section */
.about-section .container {
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* set the font size for the heading within the about section */
.about-section h2 {
  font-size: 2.5rem;
}

/* set the font size for the paragraph within the about section */
.about-section p {
  font-size: 1.25rem;
  font-family: serif;
}

/* add a hover effect to the container within the about section */
.about-section .container:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
/* set the color of elements with the text-light class to light grey */
.text-light {
  color: #bdc3c7;
}
/* Add a border and background color to the "Contact" section */
#contact {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #222;
  text-align: center;
}

/* Add a rounded border and hover effect to the photos in the "Contact" section */
.card-img-top {
  border-radius: 50%;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card {
  background-color: #2c3e50;
}
.card {
  height: 250px;
  width: 250px;
}

.card img {
  height: 150px;
  width: 150px;
}

/* Change the font color of the card titles and texts */
.card-title,
.card-text {
  color: #fff;
  font-size: 1rem;
}
/* center modal content */
.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* add rounded corners and shadow to modal */
.modal {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* add some padding and font styling to modal content */
.modal-content {
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

/* style modal headings */
h5 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #1abc9c;
}
/* blur body when modal is open */
